/*****************************************************************/
/****************************** DOM ******************************/
/*****************************************************************/

body{
    background: #EEEFF1;
}

/*****************************************************************/
/************************ Componente TemaSelect ******************/
/*****************************************************************/

.TemaSelect{
    background: white;
    color: #777;
    padding: 1rem;
}

.TemaSelect_select{
    margin-left: 5px;
}

/*****************************************************************/
/************************ Componente Enunciado *******************/
/*****************************************************************/
.Enunciado{
    padding: 2rem;
    margin: 1rem 0;
    min-height: 190px;
    background: white;
    color: #777;
}

.Enunciado_tema{
    font-size: 1.5rem;
    color: #999
}

.Enunciado_pregunta{
    font-size: 2rem;
    color:#333;
}

/*****************************************************************/
/************************ Componente Boton ***********************/
/*****************************************************************/

.Boton{
    display: flex;
    justify-content: space-between;
}

.Boton_siguiente{
    margin: 1rem;
}

.Boton_anterior{
    margin: 1rem;
}

/*****************************************************************/
/************************ Componente Respuesta *******************/
/*****************************************************************/

.Respuesta{
    padding: 2rem;
    box-shadow: 0px 0px 5px 1px #aaa;
}

.Respuesta:hover{
    cursor: pointer;
}

.default{
    background: white;
    color:#777;
}